.restaurant-types-style {
    top: 480px;
    left: 0px;
    width: 1366px;
    height: 600px;
    position: absolute;
}

.qk-srch-title-style {
    /* Layout Properties */
    margin-top: 48px;
    margin-left: 113px;
    width: 239px;
    height: 43px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 30px/46px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.disc-type-style {
    /* Layout Properties */
    margin-left: 113px;
    width: 331px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;

}

.rest-type-cards-container-style {
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.rest-type-card-style {
    margin-left: 65px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}

.meal-type-img {
    width: 160px;
}

.meal-type {
    /* Layout Properties */
    padding-left: 28;
    width: 88px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.meal-type-dtl {
    /* Layout Properties */
    padding-left: 28;
    width: 138px;
    height: 62px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}